<h1>
    Slot Car
</h1>
<div>
    Socket is
    <span *ngIf="socketState">CONNECTED</span>
    <span *ngIf="!socketState">DISCONNECTED</span>
    <div class="circle" [ngClass]="{'on': socketState}"></div>
    <p *ngIf="socketState">you are in lane: {{lane}}</p>
</div>
<div>
    <mat-form-field>
        <mat-select placeholder="Select control axis" [(value)]="selectedControlAxis">
            <mat-option *ngFor="let axis of controlAxis" (click)="setConfig()" [value]="axis">
                {{ axis }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-slider min="0" max="1" step="0.01" value="0" [(ngModel)]="value" (click)="send()"></mat-slider>
</div>
<app-canvas></app-canvas>
